@import 'default-presets.scss';

@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto/Roboto-Regular.woff) format("woff"),
         url(../fonts/Roboto/Roboto-Regular.ttf) format("opentype");
    font-weight: 400;
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto/Roboto-Medium.woff) format("woff"),
         url(../fonts/Roboto/Roboto-Medium.ttf) format("opentype");
    font-weight: 500;
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto/Roboto-Bold.woff) format("woff"),
         url(../fonts/Roboto/Roboto-Bold.ttf) format("opentype");
    font-weight: 700;
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto/Roboto-Black.woff) format("woff"),
         url(../fonts/Roboto/Roboto-Black.ttf) format("opentype");
    font-weight: 900;
}

$regular: 400;
$medium: 500;
$bold: 700;
$black: 900;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
}

html {
    font-size: calc(14px + 6 * ((100vw - 300px) / 1300));
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

h1 {
    font-weight: $bold;
}

h2 {
    font-weight: $medium;
}

a, span {
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.block {
    display: block !important;
}

.inline-block {
    display: inline-block !important;
}

.hide {
    display: none;
}

.text-center {
    text-align: center !important;
}

//HEADER

header {
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    width: 100%;
    padding: 0 15px;
}

.change-lan {
    position: fixed;
    left: 0;
    top: 10px;
    font-size: 0;
    z-index: 100;

    a {
        font-size: .8rem;
        padding: 5px;
        border: 2px solid #d5d5d5;
        border-top: none;
        background: #fff;
        display: block;
        width: 40px;
        text-align: center;
        color: #000;

        &:first-child {
            border-top: 2px solid #d5d5d5;
            border-top-right-radius: 8px;
        }

        &:last-child {
            border-bottom-right-radius: 8px;
        }
    }
}

.navbar {
    max-width: 1350px;
    margin: auto;
    padding: 1.65em 0;
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-areas: "logo navItems authorize";
}

.logo {
    grid-area: logo;
    margin: auto 0;

    span {
        color: $dark-grey;
        font-weight: $black;
        text-transform: uppercase;
        vertical-align: middle;
        font-size: 1.05rem;
        letter-spacing: 2px;
    }
}

.nav-items {
    grid-area: navItems;
    text-align: center;
}

.nav-item {
    display: inline-block;
    max-width: 130px;
    width: 24%;

    a {
        font-size: .94rem;
        display: block;
        color: $dark;
        padding: 12px 6px;
        font-weight: $medium;
        letter-spacing: 2px;
        border-radius: 5px;
        transition: .2s;
        
        &:hover {
            color: #fff;
            background: $red;
            border-radius: 20px;
        }
    }
}

.authorize {
    grid-area: authorize;
    text-align: right;
    margin: auto 0;
}

.authorize-buttons {
    display: inline-block;
}

.home-login-button {
    font-size: 1.05rem;
    font-weight: 700;
    letter-spacing: 2px;
    color: $red;
    transition: .3s ease;

    &:hover {
        color: $dark;
    }
}

.user-profile {
    display: none;
    width: 50px;
    height: 50px;
    background: $dark;
}

.burger {
    display: none;
}

//MAIN SECTION

section, article {
    padding: 15px 0;
    max-width: 1350px;
    margin: 0 auto;
}

article {
    padding: 20px;
}

.container {
    width: 100%;
}

//FOOTER

footer {
    background: $dark-blue;
}

.info {
    max-width: 1350px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    padding: 45px 0;
}

.socials, .contacts-footer {
    display: inline-block;
}

.contacts-footer {
    p {
        line-height: 1.75rem;
        color: #fff;
        font-size: .9rem;
    }
    
    i {
        display: inline-block;
        font-size: 1.1rem;
        padding: 0 6px;
        vertical-align: text-bottom;
    }
}

.socials, .logo-footer {
    text-align: center;
}

.logo-footer {
    img {
        max-height: 130px;
        height: 15vh;
    }
}

.socials {
    .icon {
        display: inline-block;
        width: 2.2em;
        height: 2.2em;
        margin-right: 25px;
        position: relative;

        &:before {
            content: '';
            position: absolute;
            width: 90%;
            height: 92%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border-radius: .55em;
            background: #fff;
        }

        &:last-child {
            margin-right: 0;
        }

        img {
            position: relative;
            z-index: 100;
            width: 100%;
            height: 100%;
        }
    }
}

.additional-info {
    padding: 9px 0;
    text-align: center;

    span {
        font-size: .65rem;
        margin-right: 15px;
    }
}

@media screen and (max-width: 960px) {
    .navbar {
        padding: 20px;
        grid-template-columns: 2fr 1fr;
        grid-template-areas: "logo logo" "navItems authorize";
    }

    .logo {
        padding: 0;
        text-align: center;
        padding: 12px 18px;
    }

    .nav-items {
        text-align: left;
    }

    .authorize {
        padding: 12px 18px;
    }

    .info {
        padding: 20px;
        justify-content: space-between;
    }
}

@media screen and (max-width: 768px) {
    .navbar {
        grid-template-columns: 1fr;
        grid-template-areas: "logo" "navItems" "authorize";
    }

    .nav-items {
        text-align: center;
    }

    .authorize {
        text-align: center;
    }

    .info {
        flex-wrap: wrap;
    }

    .logo-footer {
        width: 100%;
        margin-top: 20px;
    }
}

@media screen and (max-width: 600px) {
    .nav-item {
        max-width: 100%;
        width: 100%;
        text-align: center;
    }

    .info {
        justify-content: start;
    }

    .info {
        & > div {
            width: 100%;
            margin-top: 20px;
        }
    }

    .socials, .logo-footer {
        text-align: left;
    }

    .logo-footer {
        width: auto;
        margin: 0;
    }
}